$white: #fff;
$black: #000;

:root {
    --transition-duration: 300ms;
    --transition-timing: ease-out;
    --gutter: 3rem;
    --gutter-large: 6rem;
    --gutter-small: 1.5rem;
    --container-width: 183rem;
}